*~
*.pyc
ultra_blog
build/
env/
log/
core/*
news/
docs/build/
db.sqlite3
misc/activity/*
dtable
statics/uploads/*
.#*
cache_file/*
core/
smptsecret*
smpt_secret*
recaptcha.py
pgsecret
search_index
page/
db/