{% extends 'lxsameer.com/base.html' %}
{% load i18n %}
{% load comments categories_list %}

{% block extrahead %}
  <title>Blog | lxsameer.com</title>
  <link rel="stylesheet" href="{{ self.media_url }}css/blog/style.css" type="text/css" />
  <link rel="stylesheet" href="{{ self.media_url }}css/blog/tab.css" type="text/css" />

  <link rel="stylesheet" href="{{ self.media_url }}css/blog/night.css" type="text/css" />
  <link rel="stylesheet" href="{{ self.media_url }}css/blog/microform.css" type="text/css" />
  <script src="{{ self.media_url }}js/blog.js" type="text/javascript"></script>

{% endblock extrahead %}

{% block content %}

<div class="posts">

{% if self.sectionname %}
<h1>{{ self.sectionname }}</h1>
{% endif %}

{% if self.category_name %}
<h1>Category: <b>{{ self.category_name|title }}</b></h1>
<br><br>
{% endif %}

{% for post in self.posts.object_list %}
<!-- Each post -->
<article>

<!-- Detail section -->
<div class="detailstag tinyfont hiddeninfo">
<ul class="vertical details">
<li id="user">{{ post.author }}</li>
<li id="comment"><a href="{% url ultra_blog.views.view_post post.slug %}">{% get_comment_count for post as count %} {{ count }}</a></li>
</ul>
</div> <!--details-->
<!-- Post Title -->
<h1><a href="{{ post.get_absolute_url }}">{{ post.title|capfirst }}</a></h1>

<!-- Post content -->
<entry>
{% autoescape off %}
  {{ post.get_content }}
{% endautoescape %}
</entry>

<!-- Category and tag section -->
<categories>
<!-- categories -->
<ul class="vertical cats hiddeninfo">
<div id="categories">
{% for cat in post.get_categories %}
<li><a href="{{ cat.get_absolute_url }}">{{ cat }}</a></li>
{% endfor %}
</div>
</ul>
<!-- tags -->
<ul class="vertical cats hiddeninfo">
{% if  post.get_tags %}
<div id="tags">
{% for tag in post.get_tags %}
<li><a href="{% url ultra_blog.views.view_tag tag %}">{{ tag }}</a></li>
{% endfor %}
</div>
{% endif %}

</ul>
</categories>

<!-- Time Section -->
<time class="tinyfont hiddeninfo"><timestring>{{ post.datetime|date:"H:i d b Y" }}{% if post.is_updated %} | {% trans 'Last update' %}: {{ post.update_datetime|date:"H:i d b Y" }}{% endif %}</timestring></time>

<br>
</article>
{% endfor %}

<!-- Pagination section -->
<pagination>
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">next</a>
        {% endif %}
    </span>
</pagination>
</div> <!-- posts -->

<aside>



<h2>Blog</h2>
<menu>

  <ul>
    {% block rssfeed %}
    <li><item><a href="{{ self.rssfeed }}">RSS Feeds</a></item></li>
    {% endblock %}
    <li>
      <item>Categories</item>
      <section>
	{% categories %}
      </section>
    </li>
    <li>
      <item>Post types</item>
      <section>
	<ul class="categories">
	{% for type in types %}
	<li><a href="{% url ultra_blog.views.view_type type.0 %}">{{ type.1 }}</a></li>
	{% endfor %}
	</ul>
      </section>
    </li>

    <li>
      <item>Links</item>
      <section>
	<ul class="categories">
	  <li><a href="http://www.b3hnam.com">B3hnam's Blog</a></li>
	  <li><a href="http://www.belendax.org">Zahra Khani's Blog</a></li>
	  <li><a href="http://www.ashpazonline.com/mdarya">My mother's Blog</a></li>

	</ul>
      </section>

    </li>
  </ul>
</menu>




</aside>
{% endblock content %}
